/* Estilos para el navbar */
.navbar {
  background-color: #c9d6c1; /* Color de fondo gris claro */
}

/* Estilos para el texto del navbar */
.navbar-nav .nav-link {
  color: black; /* Color del texto negro */
  font-size: 25px;
}

.navbar-brand{
  font-size: 25px;
}